/* your-component.css */
.card-item {
    margin: 20px; /* Add margin around the card */
    padding: 15px; /* Add padding inside the card */
}


/* Add this to your component's CSS file or your global styles */

.custom-btn {
    margin-top: 5%;
    margin-right: 10px; /* Adjust the value to control the spacing between buttons */
    border: none;
    transition: background-color 0.3s; /* Add a smooth color transition on hover */
  }
  
  .custom-btn:hover {
    background-color: #FF5733; /* Change the background color on hover to the desired color */
  }
  

  
  
  /* Optional: Style the submit button */
  button[type="submit"] {
    width: 20%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Optional: Style the heading */
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  input{
    width: 100%;
    padding: 10px;
  }



.card {
  
  background-color: #e4dddd; /* Set your desired background color */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow for depth */
}

