<div class="container mt-4">
    <div class="card">
        <div class="card-body">
    <form (ngSubmit)="submitForm()" #contentForm="ngForm">
      <div class="form-group">
        <label for="videoname">Video Name</label>
        <input type="text" class="form-control" id="videoname" name="videoname" [(ngModel)]="content.videoname" required>
      </div>
      <div class="form-group">
        <label for="videodescription">Video Description</label>
        <input type="text" class="form-control" id="videodescription" name="videodescription" [(ngModel)]="content.videodescription" required>
      </div>
      <div class="form-group">
        <label for="videourl">Video Url</label>
        <input type="text" class="form-control" id="videourl" name="videourl" [(ngModel)]="content.videourl" required>
      </div>
      <div class="mt-4">
        <button  (click)="closeDialog()" class="btn btn-primary ">Cancel</button>
      <button type="submit" class="btn btn-primary ms-2" >Submit</button>
    </div>
    </form>
    </div>
    </div>

  </div>
  

  