<app-header></app-header>
<div class="container">
  <mat-card class="large-card">
    <mat-card-header>
      <strong>User Details:</strong>
    </mat-card-header>
    <mat-card-content *ngIf="!isEditing">
      <p><strong>Email:</strong> {{ cardData.email }}</p>
      <p><strong>Name:</strong> {{ cardData.name }}</p>
      <p><strong>Department:</strong> {{ cardData.dept }}</p>
      <p><strong>Phone Number:</strong> {{ cardData.phoneno }}</p>
      <p><strong>DOB:</strong> {{ cardData.dob }}</p>

      <button class="btn btn-primary" (click)="startEditing()">Update</button>
    </mat-card-content>
    <mat-card-content *ngIf="isEditing">
      <div class="form-group">
        <label for="newName">New Name:</label>
        <input type="text" class="form-control" id="newName" [(ngModel)]="newName" name="newName">
      </div>
      <div class="form-group">
        <label for="newDept">New Department:</label>
          <select id="dept"  class="form-control"  [(ngModel)]="newDept" >
            <option *ngFor="let department of departmentList" [value]="department.name">{{ department.name }}</option>
          </select>
      </div>
      <div class="form-group">
        <label for="newPhone">New Phone Number:</label>
        <input type="text" class="form-control" id="newPhone" [(ngModel)]="newPhone" name="newPhone">
      </div>
      <!-- <div class="form-group">
        <label for="newDOB">New Date of Birth:</label>
        <input type="text" class="form-control" id="newDOB" [(ngModel)]="newDOB" name="newDOB">
      </div> -->
      <div class="form-group">
        <label for="newDOB">New Date of Birth:</label>
        <input type="date" class="form-control" id="newDOB" [(ngModel)]="newDOB" name="newDOB">
      </div>
      
      <!-- Add other form fields for updating user details here -->
      <button type="submit" class="btn btn-primary" (click)="updateUser()">Submit</button>
    </mat-card-content>
  </mat-card>
  </div>
