<!-- src/app/user-list/user-list.component.html -->
<app-header></app-header>
<app-moduleheader [coursename]="courseName"></app-moduleheader>
<div class="user-list">
    <h1>User List</h1>
    <ul>
      <li *ngFor="let user of enrollers ">{{ user.enrolledusername }}</li>
    </ul>
    <button (click)="addUser()">Add User</button>
  </div>

  <div class="container">
    <input type="file" (change)="onFileChange($event)" accept=".xlsx">
    <button (click)="uploadData()">Upload Data</button>
  </div>
  
