/* src/app/user-list/user-list.component.css */
/* .user-list {
    text-align: center;
    margin: 20px;
    justify-content: center; 
    display: flex;
    align-items: center;
  } */
  
  ul {
    list-style: none;
  }
  
  button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  .center-vertically {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .user-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height based on your layout requirements */
  }
  