<!-- change-password.component.html -->

<div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Change Password</h5>
  
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="currentPassword" class="form-label">Current Password:</label>
            <input type="password" id="currentPassword" class="form-control" formControlName="currentPassword" required>
          </div>
          
          <div class="mb-3">
            <label for="newPassword" class="form-label">New Password:</label>
            <input type="password" id="newPassword" class="form-control" formControlName="newPassword" required>
            <div *ngIf="changePasswordForm.get('newPassword')?.hasError('minlength')" class="text-danger">
              New password must be at least 8 characters long.
            </div>
          </div>
  
          <button type="submit" class="btn btn-primary" [disabled]="!changePasswordForm.valid">Change Password</button>
          <button  type="button" (click)="Cancel()" class="btn btn-primary " style="margin-left: 15px;">Cancel</button>
        </form>
      </div>
    </div>
  </div>
  