
<div *ngIf="RowDataUser === 'user' || RowDataUser === ''">
  <div class="mail"><button class="btn btn-primary" (click)="sentmail()">ReSent Mail</button></div>
  <ag-grid-angular
  style="width: 75%; height: 500px;"
  class="ag-theme-alpine"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [pagination]="true"
  [paginationPageSize]="pageSize"
  (gridReady)="onGridReady($event)"
>
</ag-grid-angular>
</div>
<div *ngIf="RowDataUser === 'teacher'">
  <ag-grid-angular
  style="width: 75%; height: 500px;"
  class="ag-theme-alpine"
  [rowData]="teacherrowData"
  [columnDefs]="columnDefs"
  [pagination]="true"
  [paginationPageSize]="pageSize"
  (gridReady)="onGridReady($event)"
>
</ag-grid-angular>
</div>
<div *ngIf="RowDataUser === 'student'">
  <ag-grid-angular
  style="width: 75%; height: 500px;"
  class="ag-theme-alpine"
  [rowData]="studentrowData"
  [columnDefs]="columnDefs"
  [pagination]="true"
  [paginationPageSize]="pageSize"
  (gridReady)="onGridReady($event)"
>
</ag-grid-angular>
</div>
  