<app-header></app-header>

<div class="container mt-4">
  <div class="card">
    <div class="card-body">
      <h2>Create User</h2>
      <form (ngSubmit)="submitAdminCreationForm()">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email" [(ngModel)]="email" class="form-control" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
          <div *ngIf="!isEmailValid() && email" class="text-danger">Invalid email format</div>
        </div>

        <div class="form-group">
          <label for="roleSelect">Role:</label>
          <select id="roleSelect" [(ngModel)]="role" name="role" class="form-control form-control-lg" required>
            <option *ngFor="let option of dropdownOptions" [value]="option.value">{{ option.label }}</option>
          </select>
        </div>
        

        <button type="submit" class="btn btn-primary " [disabled]="!email || !role">Create User</button>
      </form>
    </div>
  </div>
</div>


