<app-header></app-header>
<div class="container">
    <h2>Create User</h2>
    <form (ngSubmit)="submitAdminCreationForm()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" id="email" name="email" [(ngModel)]="email" class="form-control" required>
      </div>
      <!-- <div class="form-group">
        <label for="role">Role</label>
        <input type="text" id="role" name="role" [(ngModel)]="role" class="form-control" required>
      </div> -->
      <div class="form-group">
        <label for="roleSelect">Role:</label>
        <select id="roleSelect" [(ngModel)]="role" name="role">
          <option *ngFor="let option of dropdownOptions" [value]="option.value">{{ option.label }}</option>
        </select>
      </div>
      
      <button type="submit" class="btn btn-primary">Create User</button>
    </form>
  </div>
  