.center-vertically {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  /* Add some margin and padding */
.custom-button {
  margin: 5px;
  padding: 10px;
  background-color: #3498db; /* Button background color */
  color: #fff; /* Text color */
  border: none; /* Remove default button border */
  border-radius: 5px; /* Add rounded borders */

  /* Add transition for a smooth hover effect */
  transition: background-color 0.3s ease;
}

/* Hover effect */
.custom-button:hover {
  background-color: #2980b9; /* New background color on hover */
}

/* Center vertically */
.center-vertically {
  display: flex;
  align-items: center;
  justify-content: center;
}
