<div class="container mt-4">
  <div class="card-body mt-4">
    <h2>Assignment List</h2>
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">ASE Assignment</h2>
        <embed [src]="pdfUrl" type="application/pdf" width="100%" height="250">
      </div>
    </div>
  </div>
  <div class="card-body mt-4">
    <h2>Assignment List</h2>
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">ASE Assignment</h2>
        <embed [src]="pdfUrl" type="application/pdf" width="100%" height="250">
      </div>
    </div>
  </div>
  <div class="card-body mt-4">
    <h2>Assignment List</h2>
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">ASE Assignment</h2>
        <embed [src]="pdfUrl" type="application/pdf" width="100%" height="250">
      </div>
    </div>
  </div>
  <div class="card-body mt-4">
    <h2>Assignment List</h2>
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">ASE Assignment</h2>
        <embed [src]="pdfUrl" type="application/pdf" width="100%" height="250">
      </div>
    </div>
  </div>
  <div class="card-body mt-4">
    <h2>Assignment List</h2>
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">ASE Assignment</h2>
        <embed [src]="pdfUrl" type="application/pdf" width="100%" height="250">
      </div>
    </div>
  </div>
  <div class="card-body mt-4">
    <h2>Assignment List</h2>
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">ASE Assignment</h2>
        <embed [src]="pdfUrl" type="application/pdf" width="100%" height="250">
      </div>
    </div>
  </div>
  <div class="card-body mt-4">
    <h2>Assignment List</h2>
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">ASE Assignment</h2>
        <embed [src]="pdfUrl" type="application/pdf" width="100%" height="250">
      </div>
    </div>
  </div>
  <div class="card-body mt-4">
    <h2>Assignment List</h2>
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">ASE Assignment</h2>
        <embed [src]="pdfUrl" type="application/pdf" width="100%" height="250">
      </div>
    </div>
  </div>
</div>
