<div class="container">
  <mat-card>
    <mat-card-header>
      <!-- <mat-card-title>{{ cardData.name }}</mat-card-title>
      <mat-card-subtitle>{{ cardData.email }}</mat-card-subtitle> -->
            <strong>User Details:</strong>
    </mat-card-header>
    <mat-card-content>
      <p><strong>Email:</strong> {{ cardData.email }}</p>
      <p><strong>Name:</strong> {{ cardData.name }}</p>
      <p><strong>Department:</strong> {{ cardData.dept }}</p>
      <p><strong>Phone Number:</strong> {{ cardData.phoneno }}</p>
      <p><strong>DOB:</strong> {{ cardData.dob }}</p>

    </mat-card-content>
  </mat-card>
  </div>
  