<!-- <ul>
    <li *ngFor="let category of categories">
      {{ category.name }}
      <button (click)="onAddCategory(category.name)">+</button>
      <app-category-list [categories]="category.subcategories" (addCategory)="onAddCategory($event)"></app-category-list>
    </li>
  </ul> -->

  <!-- <ul>
    <li *ngFor="let category of categories">
      {{ category.name }}
      <button (click)="onAddCategory(category.name)">+</button>
      <app-category-list [categories]="category.subcategories" (addCategory)="onAddCategory($event)"></app-category-list>
    </li>
    <li *ngIf="isAddingSubcategory">
      <input [(ngModel)]="newSubcategoryName" placeholder="Enter subcategory name" />
      <button (click)="onSaveSubcategory(newSubcategoryName)">Save</button>
    </li>
  </ul> -->



  <!-- <div class="container">
  <ul>
    <li *ngFor="let category of categories">
       <span class="category-name">{{ category.name }}</span>
      <button (click)="onAddCategory(category.name)" class="btn btn-primary">+</button>
      <app-category-list
        [categories]="category.subcategories"
        (addCategory)="onAddCategoryInChild($event)" 
      ></app-category-list>
    </li>
    <li *ngIf="isAddingSubcategory">
      <input [(ngModel)]="newSubcategoryName" placeholder="Enter subcategory name" />
      <button (click)="onSaveSubcategory(newSubcategoryName)" class="btn btn-primary">Save</button>
    </li>
  </ul>
</div> -->

<app-header></app-header>
  <div class="container">
    <div class="row">
      <div class="col">
        <ul class="list-group">
          <ng-container *ngFor="let category of categories">
            <li class="list-group-item">
              <span class="category-name">{{ category.name }}</span>
              <button (click)="onAddCategory(category.name)" class="btn btn-primary">+</button>
              <app-category-list
        [categories]="category.subcategories"
        (addCategory)="onAddCategoryInChild($event)" 
      ></app-category-list>
            </li> 
          </ng-container>
          <li *ngIf="isAddingSubcategory">
            <input [(ngModel)]="newSubcategoryName" placeholder="Enter subcategory name" />
            <button (click)="onSaveSubcategory(newSubcategoryName)" class="btn btn-primary">Save</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  