.container {
    max-width: 400px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center horizontally */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    height: 100vh; /* 100% of the viewport height */
    padding: 20px; /* Add padding to the container */
  }
  
  .form-group {
    margin-bottom: 20px; /* Adjust the spacing between form groups */
  }
  
  /* Optional: Style the labels */
  .form-group label {
    display: block; /* Labels as block elements for better spacing */
    margin-bottom: 5px; /* Add spacing below labels */
  }
  
  /* Optional: Style the submit button */
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Optional: Style the heading */
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  input{
    width: 100%;
    padding: 10px;
  }