<app-header></app-header>
<app-moduleheader [coursename]="courseId"></app-moduleheader>
<div class="container mt-4">
    <div class="card">
      <div class="card-body">
        <h2>Assignment List</h2>
        <div class="card mt-4" *ngFor="let pdfUrl of fileNames; let i = index">
          <div class="card-body">
            <h2 class="card-title">Assignment {{ i + 1 }}</h2>
            <h4 class="card-title">Title:{{pdfUrl.title}}</h4>
            <h4 class="card-title">Description:{{pdfUrl.description}}</h4>
            <h4 class="card-title">Marks:{{pdfUrl.submitMarks}}</h4>
            <h4 class="card-title">EndDate:{{pdfUrl.deadlinedate}}</h4>
            <!-- Use an anchor tag for the download link -->
            <a href="javascript:void(0)" (click)="download(pdfUrl.fileName)">
              Download Assignment
            </a>
            <br>
          <div *ngIf="isBeforeDeadline(pdfUrl.deadlinedate, this.presenttime)">
            <input class="mt-4" type="file" (change)="onFileSelected($event, i)">
            <button (click)="uploadAnswer(pdfUrl.id)">Submit Answer</button>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 