<div>
    <h2>Categories</h2>
    <app-category-list [categories]="categoriesWithSubcategories" (addCategory)="onAddCategory($event)"></app-category-list>
    <button (click)="showInputBox = true" class="btn btn-primary">Add Category</button>

    <!-- Input box with ngIf to show it conditionally -->
    <div *ngIf="showInputBox">
      <input type="text" [(ngModel)]="newCategory" placeholder="Enter a new category">
      <button (click)="saveCategory()"class="btn btn-primary">Save</button>
    </div>
  </div>