<div class="container mt-4">
<div  class="card">
    <div class="card-body">
    <form (ngSubmit)="onSubmit()" #assignmentForm="ngForm" enctype="multipart/form-data">
      <div class="form-group">
        <label for="title">Title</label>
        <input type="text" class="form-control" id="title" name="title"  [(ngModel)]="assignment.title" required>
      </div>
      <div class="form-group mt-4">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" name="description" rows="4"  [(ngModel)]="assignment.description" required></textarea>
      </div>
      <div class="form-group mt-4">
        <label for="marks">Total Marks</label>
        <input type="text" class="form-control" id="marks" name="marks"   [(ngModel)]="assignment.marks" required>
      </div>
      <div class="form-group mt-4">
        <label for="weightage">Total Weightage</label>
        <input type="text" class="form-control" id="weightage" name="weightage"  [(ngModel)]="assignment.weightage" required>
      </div>
      <div class="form-group mt-4">
        <label for="deadlinedate">deadline Date </label>
        <input type="date" class="form-control" id="deadlinedate" name="deadlinedate"  [(ngModel)]="assignment.deadlinedate" required>
      </div>
      <div class="form-group" class="mt-4">
        <label for="pdfFile">PDF File</label>
        <input type="file" class="form-control-file" id="pdfFile" name="pdfFile" (change)="onFileSelected($event)" required>
      </div>
      <div class="form-group" class="mt-4">
      <button [disabled]="assignmentForm.form.invalid" type="submit" class="btn btn-primary">Submit</button>
      <button    type="button"  (click)="Cancel()" class="btn btn-primary " style="margin-left: 15px;">Cancel</button>
        </div>
    </form>
  </div>
</div>
</div>
  